<section>
    <div class="container">
        <div class="row p-5">
            <div class="col-4">
                <div>
                    <i class="bi bi-geo-alt"></i>
                    <span>hello</span>
                    <span></span>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <i class="bi bi-geo-alt"></i>
                    <span>hello</span>
                    <span></span>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <i class="bi bi-check-circle"></i>
                    <span>hello</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>