
.suggested-result {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 45px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    list-style-type: none !important;
}
.suggested-result li {
    list-style: none !important;   
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.suggested-result li:last-child {
    border-bottom: none; 
}
.suggested-result li:hover {
    background: #f8f2ff; 
}
.suggested-result li a {
    text-decoration: none;
    color: blueviolet;
    display: block;
}
