<section>
  <div class="container py-4">
    <h2 class="text-center my-4">🛍 Our Products</h2>

    <div class="row g-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of productList">
        <div class="border rounded shadow-sm h-100 p-2" routerLink="detail" [routerLink]="['/detail', item.id]">
          <div class="d-flex align-items-center justify-content-center flex-column"
            style="background-color: rgb(246, 246, 246); height: 256px;">
            <img [src]="item.thumbnail" alt="{{ item.title }}" class="w-75" />
          </div>
          <div class="px-1 pt-2">
            <div class="text-uppercase mt-2">
              <h3 class="text-truncate" style="font-size: 12px; font-weight: 600; color: rgb(172, 172, 172);">
                {{ item.brand }}
              </h3>
            </div>
            <div class="text-uppercase">
              <h2 class="text-truncate" style="font-size: 15px; font-weight: 600;">
                {{ item.title }}
              </h2>
            </div>
            <div>
              <p [class.text-truncate]="!item.expanded" style="font-size: 15px; font-weight: 200;">
                {{ item.description }}
              </p>
              <button class="btn btn-link p-0" (click)="item.expanded = !item.expanded">
                {{ item.expanded ? 'Show less' : 'Read more' }}
              </button>
            </div>
            <div class="mt-3">
              <h6> In Stock <span class="" style="color: #063c28cc;">{{item.stock}}</span></h6>
            </div>
            <div class="mt-3 d-flex">
              <h3 style="font-size: 18px; font-weight: 600; color: #063c28cc;">
                $<span>{{ getDiscountedPrice(item.price, item.discountPercentage)}}</span>
              </h3>
              <h6 class="text-sm mx-2 text-decoration-line-through text-secondary">
                $ {{ item.price}}
              </h6>
            </div>
            <button
              class="btn btn-success w-100 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
              style="border-radius: 20px;">
              <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF" alt="icon"
                style="height: 20px; width: 20px; margin-top: 2px;" />
              <span class="text-truncate fs-6">Add To Cart</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>