.custom-gadget-btn {
  background-color: #e9f5ec;
  border: 1px solid #b4debf;
  font-weight: 600;
  border-radius: 2rem;
  color: black;
  transition: all 0.3s ease;
  gap: 10px;
}

.custom-gadget-btn:hover,
.custom-gadget-btn:focus,
.custom-gadget-btn.active {
  background-color: #249e45 !important;
  color: #ffffff !important;
}
.see:hover{
    background-color: #249e45 !important;
  color: #ffffff !important;
}
.star {
  font-size: 20px;
  color: #063c28cc;
  margin-right: 1px;
  margin-top: 0px;
}

.rotate-180 {
  transform: rotate(180deg);
}
.my-hover:hover {
  color: black;        /* hover pe text color change */
  text-decoration: underline;  /* hover pe underline */
}
.hov:hover{
  color:#249e45;
  text-decoration: underline;
}
.ihov{
  transition: box-shadow 0.4s ease;
}
.ihov:hover{
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15); 
}


.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* component CSS file (e.g., popular-categories.component.css) */
.img-hover-zoom:hover {
  transform: scale(1.1);
}
.icons{
  border-bottom: 1px solid #dfe2e6;
}

.alert-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  z-index: 9999;
  animation: slideIn 0.3s ease-out;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ddd;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.alert-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  animation: fadeInOut 2s ease-in-out;
  z-index: 9999;
}

.close-btn {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateY(10px); }
}
