<section class="mt-3">
  <div class="container mt-5">
    <div class="row rounded-3 px-4 " style="background-color: #fcf0e4;">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h1 class="mx-5 fw-bold fs-3 w-50 text-wrap" style="color: #063c28;">
          Grab Upto 50% Off on Selected Headphone
        </h1>
        <button class="mx-5 btn text-light mt-3" style="background-color: #063c28; width: 100px;">Buy now</button>
      </div>
      <div class="col-12 col-md-6 text-center mt-4 mt-md-0">
        <img
          src="https://shopcart.reactbd.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbanner_1.2a2263aa.png&w=640&q=100"
          alt="Headphone" class="img-fluid" style="max-height: 256px;">
      </div>
    </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <div class="row ">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="onTabChange($event)"
            class="nav nav-tabs gap-2 flex-wrap" style="border: none;">
            <li [ngbNavItem]="1">
              <button ngbNavLink class="custom-gadget-btn mb-4 "><span class="mx-2">Gadget</span></button>
              <ng-template ngbNavContent>
                <div class="productGri">
                  <div class="row row-cols-md-3 row-cols-lg-5 g-3">
                    <div class="col" *ngFor="let item of productList">
                      <div class="border rounded shadow-sm h-100 p-2">
                        <div class="d-flex align-items-center justify-content-center flex-column"
                          style="background-color: rgb(246, 246, 246);" routerLink="detail"
                          [routerLink]="['/detail', item.id]">
                          <img [src]="item.thumbnail" alt="{{ item.title }}" class="img-fluid " />
                        </div>
                        <div class="px-1 pt-2">
                          <div class="text-uppercase mt-2">
                            <h3 class="text-truncate"
                              style="font-size: 12px; font-weight: 600; color: rgb(172, 172, 172);">
                              {{ item.brand }}
                            </h3>
                          </div>
                          <div class="text-uppercase">
                            <h2 class="text-truncate" style="font-size: 14px; font-weight: 700;">
                              {{ item.title }}
                            </h2>
                          </div>
                          <div class="mb-2">
                            <p class="line-clamp-2 fs-6 fw-light;">
                              {{ item.description }}
                            </p>
                          </div>
                          <div class="mt-3">
                            <h6> In Stock <span class="" style="color: #063c28cc;">{{item.stock}}</span></h6>
                          </div>
                          <div class="mt-3 d-flex">
                            <h3 style="font-size: 18px; font-weight: 600; color: #063c28cc;">
                              $<span>{{ getDiscountedPrice(item.price, item.discountPercentage)}}</span>
                            </h3>
                            <h6 class="text-sm mx-2 text-decoration-line-through text-secondary">
                              $ {{ item.price}}
                            </h6>
                          </div>
                          <!-- <button
                            class="btn btn-success w-100 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
                            style="border-radius: 20px;">
                            <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                              alt="icon" style="height: 20px; width: 20px; margin-top: 2px;" />
                            <span class="text-truncate fs-6">Add To Cart</span>
                          </button> -->
                          <button
                            class="btn w-75 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
                            style="border-radius: 20px; background-color: #336454;">
                            <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                              alt="icon" style="height: 20px; width: 20px; margin-top: 2px;" />
                            <span class="text-truncate fw-semibold fs-6 text">Add To Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>

            <li [ngbNavItem]="2">
              <button ngbNavLink class="btn custom-gadget-btn mb-4"><span class="mx-2">Beauty</span></button>
              <ng-template ngbNavContent>
                <div class="productGri">
                  <div class="row row-cols-md-5 g-3">
                    <div class="col-6 col-sm-4" *ngFor="let item of beatyItem">
                      <div class="border rounded shadow-sm h-100 p-2">
                        <div class="d-flex align-items-center justify-content-center flex-column"
                          style="background-color: rgb(246, 246, 246);" routerLink="detail"
                          [routerLink]="['/detail', item.id]">
                          <img [src]="item.thumbnail" alt="{{ item.title }}" class="img-fluid" />
                        </div>
                        <div class="px-1 pt-2">
                          <div class="text-uppercase mt-2">
                            <h3 class="text-truncate"
                              style="font-size: 12px; font-weight: 600; color: rgb(172, 172, 172);">
                              {{ item.brand }}
                            </h3>
                          </div>
                          <div class="text-uppercase">
                            <h2 class="text-truncate" style="font-size: 14px; font-weight: 700;">
                              {{ item.title }}
                            </h2>
                          </div>
                          <div>
                            <p [class.text-truncate]="!item.expanded" style="font-size: 15px; font-weight: 200;">
                              {{ item.description }}
                            </p>
                            <button class="btn btn-link p-0" (click)="item.expanded = !item.expanded">
                              {{ item.expanded ? 'Show less' : 'Read more' }}
                            </button>
                          </div>
                          <div class="mt-3">
                            <h6> In Stock <span class="" style="color: #063c28cc;">{{item.stock}}</span></h6>
                          </div>
                          <div class="mt-3 d-flex">
                            <h3 style="font-size: 18px; font-weight: 600; color: #063c28cc;">
                              $<span>{{ getDiscountedPrice(item.price, item.discountPercentage)}}</span>
                            </h3>
                            <h6 class="text-sm mx-2 text-decoration-line-through text-secondary">
                              $ {{ item.price}}
                            </h6>
                          </div>
                          <button
                            class="btn btn-success w-100 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
                            style="border-radius: 20px;">
                            <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                              alt="icon" style="height: 20px; width: 20px; margin-top: 2px;" />
                            <span class="text-truncate fs-6">Add To Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>

            <li [ngbNavItem]="3">
              <button ngbNavLink class="btn custom-gadget-btn mb-4"><span class="mx-2">Furniture</span></button>
              <ng-template ngbNavContent>
                <div class="productGri">
                  <div class="row row-cols-md-5 g-3">
                    <div class="col-6 col-sm-4" *ngFor="let item of furnitureItem">
                      <div class="border rounded shadow-sm h-100 p-2">
                        <div class="d-flex align-items-center justify-content-center flex-column"
                          style="background-color: rgb(246, 246, 246);" routerLink="detail"
                          [routerLink]="['/detail', item.id]">
                          <img [src]="item.thumbnail" alt="{{ item.title }}" class="img-fluid" />
                        </div>
                        <div class="px-1 pt-2">
                          <div class="text-uppercase mt-2">
                            <h3 class="text-truncate"
                              style="font-size: 12px; font-weight: 600; color: rgb(172, 172, 172);">
                              {{ item.brand }}
                            </h3>
                          </div>
                          <div class="text-uppercase">
                            <h2 class="text-truncate" style="font-size: 14px; font-weight: 700;">
                              {{ item.title }}
                            </h2>
                          </div>
                          <div>
                            <p [class.text-truncate]="!item.expanded" style="font-size: 15px; font-weight: 200;">
                              {{ item.description }}
                            </p>
                            <button class="btn btn-link p-0" (click)="item.expanded = !item.expanded">
                              {{ item.expanded ? 'Show less' : 'Read more' }}
                            </button>
                          </div>
                          <div class="mt-3">
                            <h6> In Stock <span class="" style="color: #063c28cc;">{{item.stock}}</span></h6>
                          </div>
                          <div class="mt-3 d-flex">
                            <h3 style="font-size: 18px; font-weight: 600; color: #063c28cc;">
                              $<span>{{ getDiscountedPrice(item.price, item.discountPercentage)}}</span>
                            </h3>
                            <h6 class="text-sm mx-2 text-decoration-line-through text-secondary">
                              $ {{ item.price}}
                            </h6>
                          </div>
                          <button
                            class="btn btn-success w-100 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
                            style="border-radius: 20px;">
                            <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                              alt="icon" style="height: 20px; width: 20px; margin-top: 2px;" />
                            <span class="text-truncate fs-6">Add To Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>

            <li [ngbNavItem]="4">
              <button ngbNavLink class="btn custom-gadget-btn mb-4"><span class="mx-2">Others</span></button>
              <ng-template ngbNavContent>
                <div class="productGri">
                  <div class="row row-cols-md-5 g-3">
                    <div class="col-6 col-sm-4" *ngFor="let item of othersItem">
                      <div class="border rounded shadow-sm h-100 p-2">
                        <div class="d-flex align-items-center justify-content-center flex-column"
                          style="background-color: rgb(246, 246, 246);" routerLink="detail"
                          [routerLink]="['/detail', item.id]">
                          <img [src]="item.thumbnail" alt="{{ item.title }}" class="img-fluid" />
                        </div>
                        <div class="px-1 pt-2">
                          <div class="text-uppercase mt-2">
                            <h3 class="text-truncate"
                              style="font-size: 12px; font-weight: 600; color: rgb(172, 172, 172);">
                              {{ item.brand }}
                            </h3>
                          </div>
                          <div class="text-uppercase">
                            <h2 class="text-truncate" style="font-size: 14px; font-weight: 700;">
                              {{ item.title }}
                            </h2>
                          </div>
                          <div>
                            <p [class.text-truncate]="!item.expanded" style="font-size: 15px; font-weight: 200;">
                              {{ item.description }}
                            </p>
                            <button class="btn btn-link p-0" (click)="item.expanded = !item.expanded">
                              {{ item.expanded ? 'Show less' : 'Read more' }}
                            </button>
                          </div>
                          <div class="mt-3">
                            <h6> In Stock <span class="" style="color: #063c28cc;">{{item.stock}}</span></h6>
                          </div>
                          <div class="mt-3 d-flex">
                            <h3 style="font-size: 18px; font-weight: 600; color: #063c28cc;">
                              $<span>{{ getDiscountedPrice(item.price, item.discountPercentage)}}</span>
                            </h3>
                            <h6 class="text-sm mx-2 text-decoration-line-through text-secondary">
                              $ {{ item.price}}
                            </h6>
                          </div>
                          <button
                            class="btn btn-success w-100 text-light fw-semibold d-flex justify-content-center gap-1 text-truncate mt-2"
                            style="border-radius: 20px;">
                            <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                              alt="icon" style="height: 20px; width: 20px; margin-top: 2px;" />
                            <span class="text-truncate fs-6">Add To Cart</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
          <button class="see btn btn-light border-2 border-secondary-subtle rounded-5 ms-auto mb-4"
            [routerLink]="['/shop']">
            See all
          </button>
        </div>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>









<section>
  <div class="container border">
    <div class="row p-3">
      <div class="col-12 border-bottom mx-3">
        <h1 class="fs-4 my-4">
          <span class="fw-semibold">Popular Categories</span>
        </h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pb-4">
        <div class="col" *ngFor="let item of allCategories">
          <div class="d-flex flex-row p-2 rounded shadow-sm h-100" style="background-color: #f6f6f6;">
            <div class="d-flex align-items-center justify-content-center me-3" style="width: 100px; height: 100px;">
              <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=958&auto=format&fit=crop"
                class="img-hover-zoom img-fluid rounded" [alt]="item.name || item"
                style="object-fit: cover; width: 100%; height: 100%; transition: transform 0.3s ease;" />
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h5 class="mb-1">{{ item.name }}</h5>
              <p class="card-text fw-semibold text-success mb-0">
                (5) <small class="text-body-secondary">items available</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>












<section>
  <div class="container border my-5">
    <div class="row">
      <div class="col-md-12" style="background-color: #f6f6f6;">
        <div class="border-bottom my-4 mx-3">
          <h1 class="fw-semibold fs-4 pb-3">Shop By Brands</h1>
        </div>

        <div class="row">
          <div class="col-12 d-flex flex-row align-items-center justify-content-evenly ">
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fad15201b92bf23db004cc7da63447c7df87367d9-3000x2000.png&w=256&q=75"
                style="overflow: hidden" class="img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex justify-content-center align-items-center rounded-2" href=""
              style="width: 128px; height: 80px;"><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2F9592e8e8435bb86138e1ce1b62dcd290d0ccf595-3840x2160.png&w=640&q=75"
                style="overflow: hidden" class="p-3 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fbcb3220b05dedafc17cd1a1531ccec1abcdfbd75-920x920.png&w=640&q=75"
                style="overflow: hidden" class="p-4 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fea6acb18a422942055cf6800b4c325229cf0295b-370x220.png&w=640&q=75"
                style="overflow: hidden" class="p-1 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2F14f3a9c04f417f3f14faf2c27fedd98374154d0b-345x146.png&w=640&q=75"
                style="overflow: hidden" class="p-2 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2F77af7df4b4e9b3500115d1abfd120c0180f047fe-300x168.jpg&w=640&q=75"
                style="overflow: hidden" class="p-3 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Ffe6794adfa6d3b51808b7715a9d443e4e3850413-900x343.png&w=640&q=75"
                style="overflow: hidden" class="p-2 img-fluid"></a>
            <a class="ihov bg-white m-2 d-flex align-items-center justify-content-center rounded-2 overflow-hidden custom-hover-shadow"
              style="width: 128px; height: 80px;" href=""><img
                src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fad15201b92bf23db004cc7da63447c7df87367d9-3000x2000.png&w=640&q=75"
                style="overflow: hidden" class="img-fluid"></a>
          </div>
        </div>
        <div class="row row-cols-md-2 row-cols-lg-4 g-3 mt-5   mb-5">
          <div class="col d-flex align-items-center flex-fill justify-content-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
              class="mb-3 hov bi bi-truck" viewBox="0 0 16 16">
              <path
                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
            </svg>
            <p class="flex-column d-flex align-items-start mx-3">
              <span class="fw-semibold">
                Free Delivery</span>
              Free shipping over $100
            </p>
          </div>
          <div class="col d-flex align-items-center  flex-fill justify-content-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
              class="mb-3 hov bi bi-repeat" viewBox="0 0 16 16">
              <path
                d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
            </svg>
            <p class="d-flex mx-3 align-items-start flex-column">
              <span class="fw-semibold">Free Return</span>
              Free shipping over $100
            </p>
          </div>
          <div class="col d-flex align-items-center  flex-fill justify-content-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
              class="mb-3 hov bi bi-person-fill-gear" viewBox="0 0 16 16">
              <path
                d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
            </svg>
            <p class="d-flex mx-3 align-items-start flex-column">
              <span class="fw-semibold">Customer Support</span>
              Friendly 27/7 customer support
            </p>
          </div>
          <div class="col d-flex align-items-center  flex-fill justify-content-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
              class="mb-3 hov bi bi-shield-fill-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z" />
            </svg>
            <p class="d-flex mx-3 align-items-start flex-column">
              <span class="fw-semibold">Money Back guarantee</span>
              Quality checked by our team
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>