.custom-gadget-btn {
  background-color: #e9f5ec;
  border: 1px solid #b4debf;
  font-weight: 600;
  border-radius: 2rem;
  color: black;
  transition: all 0.3s ease;
  gap: 10px;
}

.custom-gadget-btn:hover,
.custom-gadget-btn:focus,
.custom-gadget-btn.active {
  background-color: #249e45 !important;
  color: #ffffff !important;
}
.see:hover{
    background-color: #249e45 !important;
  color: #ffffff !important;
}
.star {
  font-size: 20px;
  color: #063c28cc;
  margin-right: 1px;
  margin-top: 0px;
}

.rotate-180 {
  transform: rotate(180deg);
}
.my-hover:hover {
  color: black;        /* hover pe text color change */
  text-decoration: underline;  /* hover pe underline */
}
.hov:hover{
  color:#249e45;
  text-decoration: underline;
}
.ihov{
  transition: box-shadow 0.4s ease;
}
.ihov:hover{
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15); 
}


.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* component CSS file (e.g., popular-categories.component.css) */
.img-hover-zoom:hover {
  transform: scale(1.1);
}
.icons{
  border-bottom: 1px solid #dfe2e6;
}
