.checkout{
    padding-bottom: 100px;
}
.shipping-address {
    display: flex;
    justify-content: space-between;
}
.products{
    overflow: auto;
}
.popup-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background:rgba(0,0,0,0.5);
    display: block;
}
.popup { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 300px;
    background: #f5f5f5;
    z-index: 2;
    opacity:1;
    padding: 20px 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
}
.popup-close {
    position: absolute;
    top:-10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}