<section class="container mt-5">
    <div class="row">
        <div class="col-md-12 mt-3 d-sm-flex justify-content-sm-center">
            <div class="d-flex flex-wrap align-items-center gap-3 mx-auto">
                <div class="img">
                    <img src="https://img.icons8.com/?size=30&id=3686&format=png&color=000000" alt="cart-icon"
                        class="img-fluid">
                </div>
                <div class="headline fw-semibold fs-4">
                    Checkout Page
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row pt-3">
            <div class="col-md-7 shadow-sm">
                <div class="col-md-12">
                    <div class="shipping-address my-3">
                        <h5>Select Delivery Address</h5>
                        <button class="btn border border-gray-700 fw-semibold"
                            style="background-color: #336353; color: #fff; display: flex; align-items: center;"><span
                                class="me-2 fs-5">+</span>Add New</button>
                    </div>
                    <div class="border rounded-4 p-4 d-flex justify-content-between align-items-start mb-3"
                        style="background:#ffffff;">
                        <div class="d-flex">
                            <div class="me-3">
                                <input type="radio" name="address" checked style="margin-top: 5px;">
                            </div>
                            <div>
                                <span class="text-dark bg-secondary-subtle py-1 px-2 rounded-3">Home</span>
                                <span class="text-muted mx-2">(Primary)</span>
                                <h5 class="fw-bold mt-2 mb-1">First adress</h5>
                                <p class="mb-1">
                                    ItPark Dehradun, Uttarakhand - 248001
                                </p>
                                <p class="fw-bold">8171954889</p>
                            </div>
                        </div>
                        <button class="btn d-flex align-items-center gap-1 border rounded-3 px-3 py-2"
                            style="background:#fff;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706l-1 1-2.146-2.147 1-1a.5.5 0 0 1 .707 0l1.439 1.44z" />
                                <path d="M13.5 3.207L4 12.707V15h2.293l9.5-9.5-2.293-2.293z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h9a1.5 1.5 0 0 0 1.5-1.5v-7a.5.5 0 0 0-1 0v7a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-9a.5.5 0 1 0-1 0v9z" />
                            </svg>
                            Edit
                        </button>
                    </div>
                    <div class="border rounded-4 p-4 d-flex justify-content-between align-items-start mb-3"
                        style="background:#ffffff;">
                        <div class="d-flex">
                            <div class="me-3">
                                <input type="radio" name="address" checked style="margin-top: 5px;">
                            </div>
                            <div>
                                <span class="text-dark bg-secondary-subtle py-1 px-2 rounded-3">Home</span>
                                <span class="text-muted mx-2">(Primary)</span>
                                <h5 class="fw-bold mt-2 mb-1">First adress</h5>
                                <p class="mb-1">
                                    ItPark Dehradun, Uttarakhand - 248001
                                </p>
                                <p class="fw-bold">8171954889</p>
                            </div>
                        </div>
                        <button class="btn d-flex align-items-center gap-1 border rounded-3 px-3 py-2"
                            style="background:#fff;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706l-1 1-2.146-2.147 1-1a.5.5 0 0 1 .707 0l1.439 1.44z" />
                                <path d="M13.5 3.207L4 12.707V15h2.293l9.5-9.5-2.293-2.293z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h9a1.5 1.5 0 0 0 1.5-1.5v-7a.5.5 0 0 0-1 0v7a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-9a.5.5 0 1 0-1 0v9z" />
                            </svg>
                            Edit
                        </button>
                    </div>
                    <div class="border rounded-4 p-4 d-flex justify-content-between align-items-start mb-3"
                        style="background:#ffffff;">
                        <div class="d-flex">
                            <div class="me-3">
                                <input type="radio" name="address" checked style="margin-top: 5px;">
                            </div>
                            <div>
                                <span class="text-dark bg-secondary-subtle py-1 px-2 rounded-3">Home</span>
                                <span class="text-muted mx-2">(Primary)</span>
                                <h5 class="fw-bold mt-2 mb-1">First adress</h5>
                                <p class="mb-1">
                                    ItPark Dehradun, Uttarakhand - 248001
                                </p>
                                <p class="fw-bold">8171954889</p>
                            </div>
                        </div>
                        <button class="btn d-flex align-items-center gap-1 border rounded-3 px-3 py-2"
                            style="background:#fff;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706l-1 1-2.146-2.147 1-1a.5.5 0 0 1 .707 0l1.439 1.44z" />
                                <path d="M13.5 3.207L4 12.707V15h2.293l9.5-9.5-2.293-2.293z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h9a1.5 1.5 0 0 0 1.5-1.5v-7a.5.5 0 0 0-1 0v7a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-9a.5.5 0 1 0-1 0v9z" />
                            </svg>
                            Edit
                        </button>
                    </div>
                </div>
            </div>

            <!-- RIGHT SIDE SUMMARY -->
            <div class="col-lg-5">
                <div class="position-sticky" style="top: 30px;">

                    <!-- ORDER SUMMARY -->
                    <div class="border border-gray-400 rounded-3 p-3 mb-3">
                        <div class="">
                            <span class="fs-5">Your Order</span>
                        </div>
                        <hr>

                        <div class="d-flex justify-content-between">
                            <span class="fw-bold">Product</span>
                            <span class="fw-bold">Subtotal</span>
                        </div>
                        <hr>
                        <div class="products d-flex flex-row align-items-center gap-3">
                            <a href="">
                                <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="" style="width:45px; height:50px;">
                            </a>
                            <div class="d-flex flex-column">
                                <span>Product Title</span>
                                <span>Qty: 1</span>
                            </div>
                            <div class="ms-auto">
                                <span>₹9,490</span>
                            </div>
                        </div>
                        <div class="py-2 d-flex justify-content-between">
                            <span class="fs-5">Total Discount</span>
                            <span class="fw-bold">$10.00</span>
                        </div>
                        <hr>
                        <div class="pb-4 d-flex justify-content-between">
                            <span class="fw-semibold fs-4">Grand Total</span>
                            <span class="fw-bold fs-4">$189.00</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-success w-75 rounded-5 fw-bold">
                                Proceed to Checkout
                            </button>
                        </div>
                    </div>

                    <!-- DELIVERY ADDRESSES -->
                    <div class="border border-gray-400 rounded-3 p-3">
                        <h4>Delivery Address</h4>

                        <div class="d-flex mt-4">
                            <input type="checkbox" class="form-check-input me-2">
                            <div>
                                <span>Home</span>
                                <p>123 Main St, Dallas, DL 10056</p>
                            </div>
                        </div>

                        <div class="d-flex">
                            <input type="checkbox" class="form-check-input me-2">
                            <div>
                                <span>Office</span>
                                <p>42 Wall Street, NY 10005</p>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn w-75 border border-gray-700">
                                Add New Address
                            </button>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>