.checkout {
    padding-bottom: 100px;
}

.shipping-address {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.products {
    overflow: auto;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);
    z-index: 100;
}
.left{
    padding: 10px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    max-width: 90%;
    background: #fff;
    border-radius: 14px;
    padding: 24px;
    z-index: 101;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.25s ease;
}
.popup .form{
    border: 2px solid #e6e6e6;
    padding: 20px;
    border-radius: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.popup-close {
    position: absolute;
    right: 14px;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: 0.2s;
}
.popup-close:hover {
    color: #000;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-bottom: 12px;
}

.element label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-bottom: 4px;
}

.element input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
}

.element button {
    width: 100%;
    padding: 12px;
    background: #336353;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
