<section class="container " style="background-color: beige;">
    <div class="row">
        <div class="col-md-8 mt-4">
            <div class=" d-flex flex-wrap align-items-center gap-3 mx-auto">
                <div class="img">
                <img src="https://img.icons8.com/?size=30&id=3686&format=png&color=000000" alt="nhi chla" class="img-fluid">
            </div>
            <div class="headline fw-semibold fs-4 mt-1">
                Shopping Cart
            </div>
        </div>
        <div class="">
            
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero sit quasi veritatis velit, vitae cupiditate, eius dignissimos facere corrupti ipsam hic harum ipsum exercitationem accusantium quisquam, minima repudiandae asperiores quae voluptate. Explicabo nihil quidem dicta labore beatae ducimus temporibus nisi! Expedita saepe ut delectus vitae ex quaerat ipsum a reiciendis!</h1>
    </div>
</div>
</section>