

<section class="container">
    <div class="row">
        <div class="col-md-7 mt-3">
            <div class=" d-flex flex-wrap align-items-center gap-3  ">
                <div class="img">
                    <img src="https://img.icons8.com/?size=30&id=3686&format=png&color=000000" alt="nhi chla"
                        class="img-fluid">
                </div>
                <div class="headline fw-semibold fs-4 mt-1">
                    Shopping Cart
                </div>
            </div>
            <!-- <div class="d-flex flex-wrap align-items-center gap-3 mx-auto mt-3 rounded-2 h-75 container-fluid justify-between"
                style="border: 1px solid #e5e7eb; background-color: rgba(255, 255, 255, 0.753);;">
                <div class="rounded-2 m-1 mb-2 d-flex align-items-center" style="border: 1px solid #e5e7eb;">
                    <img src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fc6e0da93e884e6ab9fc7b2a884c6d28ad7f2020e-500x500.png&w=750&q=75"
                        alt="" class="img-fluid" style="width: 170px; height: 170px;">
                </div>
                <div class="d-flex flex-column align-items-start justify-between lh-1" style="width: 28rem; ">
                    <div >
                        <h5 class="fs-6 fw-semibold ">Canon EOS 250D 24.1MP Full HD WI-FI DSLR Camera with 18-55mm</h5>
                    </div>
                    <div>
                        <p class="fs-6 fw-normal">Variant: <span class="fw-semibold">Gadget</span></p>
                    </div>
                    <div>
                        <p class="fs-6 fw-normal">Status: <span class="fw-semibold">Sale</span></p>
                    </div>
                <div class=" ">
                    <div class="gap-3 d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart" viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </div>
                </div>
                </div>
                <div class="d-flex align-items-center flex-column px-2 ps-5">
                    <div class="">
                        <p class="fs-4 fw-semibold align-items-center">$750.00</p>
                    </div>
                    <div class="d-flex mt-5 flex-wrap align-items-center w-10">
                        <button (click)="handleCounter('sub')"
                            class="btn fs-3 shadow-sm p-3 bg-body rounded d-flex justify-content-center align-items-center" style="width: 1px; height: 1px;">-</button>
                        <h5 class="count mx-2">{{count}}</h5>
                        <button (click)="handleCounter('plus')"
                            class="btn fs-3 shadow-sm p-3 bg-body rounded d-flex justify-content-center align-items-center"
                            style="width: 1px; height: 1px;">+</button>
                    </div>
                </div>
            </div> -->
        <div class="h-75 w-100 border border-success d-flex justify-content-start mt-3 rounded-3 align-items-center">
            <div class=" mx-2 d-flex align-items-center flex-wrap gap-2">
                <a href="" class="al border border-primary rounded-3 d-flex align-items-center  ju">
                    <img src="https://shopcart.reactbd.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Foe6m9gg8%2Fproduction%2Fc6e0da93e884e6ab9fc7b2a884c6d28ad7f2020e-500x500.png&w=750&q=75"
                        alt="" class="img-fluid" style="width:120px; height: 120px;"></a>
                <div class="w-75 d-flex flex-column">
                    <p class="text-truncate">Canon EOS 250D 24.1MP Full HD WI-FI DSLR Camera with 18-55mm</p>
                    <p>Variant: <span class="fw-semibold">Gadget</span></p>
                    <p>Status: <span class="fw-semibold">Sale</span></p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                            viewBox="0 0 16 16">
                            <path
                                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                            viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-start flex-column justify-between">
                <p class="fs-4 fw-semibold align-items-center">$750.00</p>
                <div class="d-flex align-items-center justify-between">
                    <button (click)="handleCounter('sub')"
                        class="btn fs-3 shadow-sm p-3 bg-body rounded d-flex justify-content-center align-items-center"
                        style="width: 1px; height: 1px;">-</button>
                    <h5 class="count mx-2">{{count}}</h5>
                    <button (click)="handleCounter('plus')"
                        class="btn fs-3 shadow-sm p-3 bg-body rounded d-flex justify-content-center align-items-center"
                        style="width: 1px; height: 1px;">+</button>
                </div>
            </div>
            <div>
            </div>
        </div>       
        </div>
        <div class="col-md-5 pt-5">
            <div class="border border-primary rounded-3 p-4">
                <div class="">
                    <h2 class="py-3">Order summary</h2>
                    <div class="py-3 d-flex justify-between">
                        <span class="">SubTotal</span>
                        <span class="fw-semibold">$4,091.75</span>
                    </div>
                    <div class="d-flex justify-between">
                        <span>Discount</span>
                        <span class="fw-semibold">$433.75</span>
                    </div>
                    <hr class="text-gray-400">q
                    <div class="d-flex justify-between">
                        <span class="fw-bold">Total</span>
                        <span class="fw-bold">$3,658.00</span>
                    </div>
<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-success w-75 text-light fw-bold d-flex justify-content-center align-items-center"
        style="border-radius: 5px;" routerLink="cart-page" [routerLink]="['/cart-page']">
        <img src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF" alt="nhi chal"
            style="height: 20px; width: 20px; margin-top: 2px;" class="img-fluid mx-2">
        Proceed to Checkout
    </button>
</div>
                </div>
            </div>
        </div>
    </div>
</section>