/* Main Layout */
.dashboard-wrapper {
  display: flex;
  gap: 20px;
  padding: 30px;
  background: #fff;
}

/* Sidebar */
.sidebar {
  width: 260px;
  border: 1px solid #eee;
  padding: 25px;
  border-radius: 8px;
  background: #fff;
  height: fit-content;
}

.profile {
  text-align: center;
  margin-bottom: 25px;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; 
  font-weight: bold;
}

.sidebar-menu a {
  display: block;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-menu a.active {
  background: #000;
  color: #fff;
}

.sidebar-menu a.logout {
  color: red;
}


.content {
  flex: 1;
  border: 1px solid #eee;
  padding: 25px;
  border-radius: 8px;
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 30px 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.card i{
 color: #008957;
 font-size: 1.25rem;
 margin-bottom: 5px;
 font-weight: 900;
}

.card:hover {
  background: #f7f7f7;
}

.icon {
  font-size: 28px;
  color: #6c63ff;
  margin-bottom: 12px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .dashboard-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
/* Sidebar Links */
.sidebar-menu a {
  display: flex;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}


.sidebar-menu a:hover {
  background: #f7f7f7;
}


.sidebar-menu a.active {
  background: #000;
  color: #fff;
}



.filter-section {
  margin: 20px 0;
}

.filter-section h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dropdown-wrapper {
  width: 200px;
}
.dropdown-btn {
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-btn:hover {
  border-color: #f7f7f7;
}
.dropdown-menu button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.check-icon {
  font-size: 16px;
  color: #000;
  margin-left: 12px;
}
.pInfo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.personalInfo {
  display: flex;
  justify-content: space-between;  
  gap: 20px;                        
}

.personalInfo > div {
  flex: 1;                          
}
.personalInfo .Fname h6,
.personalInfo .Lname h6  {
  color: #9a9a9a;
}