<div class="container mt-5">
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <div class="profile">
                <div class="avatar">L</div>
                <h3>Name</h3>
                <p>Gmail</p>
            </div>
            <nav class="sidebar-menu">

                <a *ngFor="let item of menuItems"><i [class]="item.icon"></i> {{ item.name }}</a>
                <a class="logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </nav>

        </aside>
        <section class="content">
            <h2>Welcome to your Dashboard</h2>
            <p>Here you can see your recent activity and account summary.</p>

            <div class="grid">
                <div class="card">
                    <i class="fa fa-box icon mx-2"></i>
                    <span>Orders</span>
                </div>

                <div class="card">
                    <i class="fa fa-heart icon "></i>
                    <span>Wishlist</span>
                </div>

                <div class="card">
                    <i class="fa fa-map-marker-alt icon "></i>
                    <span>Addresses</span>
                </div>

                <div class="card">
                    <i class="fa fa-user icon "></i>
                    <span>Personal Info</span>
                </div>
            </div>
        </section>
    </div>
</div>