/* Main Layout */
.dashboard-wrapper {
  display: flex;
  gap: 20px;
  padding: 30px;
  background: #fff;
}

/* Sidebar */
.sidebar {
  width: 260px;
  border: 1px solid #eee;
  padding: 25px;
  border-radius: 8px;
  background: #fff;
  height: fit-content;
}

.profile {
  text-align: center;
  margin-bottom: 25px;
}

.avatar {
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: bold;
}

.sidebar-menu a {
  display: block;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-menu a.active {
  background: #000;
  color: #fff;
}

.sidebar-menu a.logout {
  color: red;
}

/* Content */
.content {
  flex: 1;
  border: 1px solid #eee;
  padding: 25px;
  border-radius: 8px;
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 30px 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #f7f7f7;
  transform: translateY(-3px);
}

.icon {
  font-size: 28px;
  color: #6c63ff;
  margin-bottom: 12px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .dashboard-wrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
/* Sidebar Links */
.sidebar-menu a {
  display: block;
  padding: 12px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover – Gray */
.sidebar-menu a:hover {
  background: #f0f0f0;
}

/* Active – Black */
.sidebar-menu a.active {
  background: #000;
  color: #fff;
}