<div class="container mt-5">
  <div class="dashboard-wrapper">
    <aside class="sidebar">
      <div class="profile">
        <div class="avatar">L</div>
        <h3>Name</h3>
        <p>Gmail</p>
      </div>

      <nav class="sidebar-menu">
        <a
          *ngFor="let item of menuItems"
          [class.active]="activeItem === item.name"
          (click)="activeItem = item.name"
        >
          <i [class]="item.icon"></i> {{ item.name }}
        </a>

        <a class="logout" (click)="logout()"> <i class="bi bi-box-arrow-right"></i> Logout </a>
      </nav>
    </aside>
    <section class="content">
      <div *ngIf="activeItem === 'Dashboard'">
        <h2>Welcome to your Dashboard</h2>
        <p>Here you can see your recent activity and account summary.</p>
        <h2>Dashboard</h2>
        <div class="grid">
          <div class="card" (click)="activeItem = 'Orders'">
            <i class="bi bi-box-seam"></i> <span>Orders</span>
          </div>
          <div class="card" (click)="activeItem = 'Wishlist'">
            <i class="bi bi-heart"></i> <span>Wishlist</span>
          </div>
          <div class="card" (click)="activeItem = 'Addresses'">
            <i class="bi bi-geo-alt"></i> <span>Addresses</span>
          </div>
          <div class="card" (click)="activeItem = 'Personal Info'">
            <i class="bi bi-person-fill"></i> <span>Personal Info</span>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem === 'Orders'">
        <h2>Your Orders</h2>
        <div class="filter-section">
          <div class="row">
            <div class="col-md-3">
              <h6>Filter by Status</h6>
              <div ngbDropdown class="dropdown-wrapper">
                <button class="dropdown-btn" ngbDropdownToggle>
                  {{ selectedStatus }}
                </button>
                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *ngFor="let s of statusOptions"
                    (click)="select('status', s)"
                  >
                    <span>{{ s }}</span>
                    <i *ngIf="selectedStatus === s" class="bi bi-check"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Sort By Time -->
            <div class="col-md-3">
              <h6>Sort by Time</h6>

              <div ngbDropdown class="dropdown-wrapper">
                <button class="dropdown-btn" ngbDropdownToggle>
                  {{ selectedTime }}
                  <!-- <i class="bi bi-chevron-down"></i> -->
                </button>

                <div ngbDropdownMenu>
                  <button
                    ngbDropdownItem
                    *ngFor="let t of timeOptions"
                    (click)="select('time', t)"
                  >
                    <span>{{ t }}</span>
                    <i *ngIf="selectedTime === t" class="bi bi-check"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem === 'Wishlist'">
        <h2>My List</h2>
        <p>
          You have {{ wishlistProducts.length }} products in your Wish List.
        </p>

        <div class="wishlistItems row g-3 mt-3">
          <div *ngIf="wishlistProducts.length === 0" class="text-muted">
            Your wishlist is empty 
<br>

<a href="#" routerLink="/shop">Shop more..</a>

          </div>

          <div class="col-md-4" *ngFor="let item of wishlistProducts">
            <div class="card h-100 shadow-sm">
              <!-- remov from WISHLIST  -->
              <!-- REMOVE FROM WISHLIST (TOP RIGHT) -->
              <span
                class="position-absolute top-0 end-0 m-2 remove-wishlist"
                (click)="removeWishlistItem(item.id)"
              >
                <i class="bi bi-x"></i>
              </span>
              <img
                [src]="item.thumbnail"
                class="card-img-top"
                alt="{{ item.title }}"
              />

              <div class="card-body">
                <h6 class="fw-semibold text-truncate">
                  {{ item.title }}
                </h6>

                <p class="text-success fw-bold mb-1">${{ item.price }}</p>

                <p class="text-muted small mb-2">
                  {{ item.category }}
                </p>

                <div class="d-flex align-items-center gap-2 mt-2">
                  <!-- ADD TO CART -->
                  <button
                    *ngIf="!isProductInCart(item.id)"
                    class="btn w-100 text-light fw-semibold d-flex justify-content-center align-items-center gap-1"
                    style="border-radius: 10px; background-color: #336656"
                    (click)="AddToCart(item)"
                  >
                    <img
                      src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                      alt="Add"
                      style="height: 18px; width: 18px"
                      class="img-fluid"
                    />
                    <span class="fs-6">Add To Cart</span>
                  </button>

                  <!-- REMOVE FROM CART -->
                  <button
                    *ngIf="isProductInCart(item.id)"
                    class="btn btn-danger w-100 fw-semibold d-flex justify-content-center align-items-center gap-1"
                    style="border-radius: 10px"
                    (click)="removeToCart(item.id)"
                  >
                    <img
                      src="https://img.icons8.com/?size=17&id=HtmDYmJyGCy7&format=png&color=FFFFFF"
                      alt="Remove"
                      style="height: 18px; width: 18px"
                      class="img-fluid"
                    />
                    <span class="text-truncate fs-6">Remove Cart</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem === 'Addresses'" class="address-section">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div>
            <h2 class="mb-0">Addresses</h2>
            <p class="text-muted">Your saved delivery addresses</p>
          </div>

          <button
            class="btn border border-gray-700 fw-semibold"
            style="
              background-color: #336353;
              color: #fff;
              display: flex;
              align-items: center;
            "
            (click)="openAddForm()"
          >
            <span class="me-2 fs-5">+</span>Add New Address
          </button>
        </div>
        <div *ngIf="showAddPopup">
          <div class="popup-overlay" (click)="closeAddressForm()"></div>
          <div class="popup">
            <div class="popup-close" (click)="closeAddressForm()">&times;</div>
            <div class="header fw-bold fs-5 mb-3">
              {{ isEditMode ? "Edit Address" : "Add New Address" }}
            </div>
            <form
              #addProduct="ngForm"
              (submit)="submit(addProduct)"
              class="form"
            >
              <div class="form-grid">
                <div class="element">
                  <label>Full Name</label>
                  <input
                    type="text"
                    name="fullName"
                    required
                    [ngModel]="editAddressData?.fullName"
                  />
                </div>

                <div class="element">
                  <label>Mobile</label>
                  <input
                    type="text"
                    name="mobile"
                    required
                    [ngModel]="editAddressData?.mobile"
                  />
                </div>

                <div class="element">
                  <label>House/Flat/Building</label>
                  <input
                    type="text"
                    name="addressLine1"
                    required
                    [ngModel]="editAddressData?.addressLine1"
                  />
                </div>

                <div class="element">
                  <label>Area/Street</label>
                  <input
                    type="text"
                    name="area"
                    required
                    [ngModel]="editAddressData?.area"
                  />
                </div>

                <div class="element">
                  <label>Landmark(Optional)</label>
                  <input
                    type="text"
                    name="landmark"
                    [ngModel]="editAddressData?.landmark"
                  />
                </div>

                <div class="element">
                  <label>City</label>
                  <input
                    type="text"
                    name="city"
                    required
                    [ngModel]="editAddressData?.city"
                  />
                </div>

                <div class="element">
                  <label>State</label>
                  <input
                    type="text"
                    name="state"
                    required
                    [ngModel]="editAddressData?.state"
                  />
                </div>

                <div class="element">
                  <label>Pincode</label>
                  <input
                    type="text"
                    name="pincode"
                    required
                    [ngModel]="editAddressData?.pincode"
                  />
                </div>
              </div>
              <div class="">
                <label class="d-block mb-2 fw-semibold">Address Type</label>
                <label class="me-3 mb-3">
                  <input
                    type="radio"
                    name="addressType"
                    value="home"
                    [(ngModel)]="addressType"
                  />
                  Home
                </label>
                <label class="me-3 mb-3">
                  <input
                    type="radio"
                    name="addressType"
                    value="work"
                    [(ngModel)]="addressType"
                  />
                  Work
                </label>
                <label class="me-3 mb-3">
                  <input
                    type="radio"
                    name="addressType"
                    value="other"
                    [(ngModel)]="addressType"
                  />
                  Other
                </label>
              </div>
              <div
                *ngIf="addProduct.submitted && !addressType"
                class="text-danger mt-2"
              >
                ⚠️ Please select an address type.
              </div>
              <div class="d-flex justify-content-end gap-2">
                <button
                  type="button"
                  class="btn btn-outline-danger px-3 py-1 fw-semibold"
                  *ngIf="isEditMode"
                  (click)="deleteAddressItem(editAddressData)"
                >
                  Delete Address
                </button>
                <button
                  type="button"
                  class="btn btn-outline-secondary px-3 py-1 fw-semibold"
                  *ngIf="!isEditMode"
                  (click)="closeAddressForm()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="btn px-3 py-1 fw-semibold text-light"
                  style="background-color: #336353"
                >
                  {{
                    isEditMode
                      ? "Update Address"
                      : "Save New
                                        Address"
                  }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div *ngIf="addressListData.length === 0" class="text-muted mt-3">
          No address added yet.
        </div>

        <div *ngFor="let item of addressListData" class="address-card mb-3">
          <!-- VIEW MODE -->
          <div
            *ngIf="editAddressId !== item.id"
            class="d-flex justify-content-between"
          >
            <div class="address-left">
              <span class="badge address-badge mb-2">{{
                item.addressType
              }}</span>

              <h6 class="fw-bold mb-1">{{ item.fullName }}</h6>
              <p class="mb-0">{{ item.mobile }}</p>
              <p class="mb-0">{{ item.area }}</p>
              <p class="mb-0">
                {{ item.city }}, {{ item.state }} - {{ item.pincode }}
              </p>
            </div>

            <!-- MENU -->
            <div ngbDropdown placement="start" class="address-menu">
              <button
                class="btn btn-light btn-sm rounded-circle address-menu-btn"
                ngbDropdownToggle
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>

              <div ngbDropdownMenu class="dropdown-menu address-dropdown">
                <button class="dropdown-item">
                  <i class="bi bi-pin-angle me-2"></i>
                  Set as Primary
                </button>
                <button class="dropdown-item" (click)="openEditForm(item)">
                  <i class="bi bi-pencil me-2"></i>
                  Edit
                </button>
                <button
                  class="dropdown-item text-danger"
                  (click)="deleteAddressItem(item)"
                >
                  <i class="bi bi-trash me-2"></i>
                  Delete
                </button>
              </div>
            </div>
          </div>

          <!-- EDIT MODE -->
          <div *ngIf="editAddressId === item.id">
            <input
              class="form-control form-control-sm mb-2"
              [(ngModel)]="item.area"
            />
            <input
              class="form-control form-control-sm mb-2"
              [(ngModel)]="item.city"
            />
            <input
              class="form-control form-control-sm mb-2"
              [(ngModel)]="item.state"
            />
            <input
              class="form-control form-control-sm mb-3"
              [(ngModel)]="item.pincode"
            />

            <button class="btn btn-success btn-sm" (click)="saveAddress(item)">
              Save
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem === 'Personal Info'">
        <div class="pInfo">
          <h4>Basic Info</h4>
        </div>
        <!-- ========== BASIC INFO ========== -->
        <div class="row align-items-center mb-4">
          <div class="col-md-6">
            <label class="text-muted small fw-semibold">First name</label>
            <p *ngIf="!editName" class="fw-semibold fs-5 mb-0">
              {{ firstName }}
            </p>
            <input
              *ngIf="editName"
              type="text"
              [(ngModel)]="firstName"
              class="form-control form-control-sm"
            />
          </div>

          <div class="col-md-6 d-flex justify-content-between">
            <div>
              <label class="text-muted small fw-semibold">Last name</label>
              <p *ngIf="!editName" class="fw-semibold fs-5 mb-0">
                {{ lastName }}
              </p>
              <input
                *ngIf="editName"
                type="text"
                [(ngModel)]="lastName"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-md-2 text-md-end mt-2 mt-md-0">
              <button
                (click)="toggleNameEdit()"
                class="btn btn-outline-success btn-sm"
              >
                <i class="bi bi-pencil-square" *ngIf="!editName"></i>
                <i class="bi bi-check-lg" *ngIf="editName"></i>
                {{ editName ? "Save" : "Edit" }}
              </button>
            </div>
          </div>
        </div>

        <hr />

        <!-- ========== CONTACT SECTION ========== -->
        <h6 class="fw-semibold mt-4">Contact</h6>
        <div class="row align-items-center mb-4">
          <div class="col-md-6">
            <label class="text-muted small fw-semibold">Email</label>
            <p *ngIf="!editContact" class="fw-semibold fs-5 mb-0">
              {{ email }}
            </p>
            <input
              *ngIf="editContact"
              type="email"
              [(ngModel)]="email"
              class="form-control form-control-sm"
            />
          </div>

          <div class="col-md-6 d-flex justify-content-between">
            <div>
              <label class="text-muted small fw-semibold">Phone</label>
              <p
                *ngIf="!editContact"
                class="fw-semibold fs-5 mb-0 text-success"
              >
                {{ phone }} <span class="small">Verified</span>
              </p>
              <input
                *ngIf="editContact"
                type="text"
                [(ngModel)]="phone"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-md-2 text-md-end mt-2 mt-md-0">
              <button
                (click)="toggleContactEdit()"
                class="btn btn-outline-success btn-sm"
              >
                <i class="bi bi-pencil-square" *ngIf="!editContact"></i>
                <i class="bi bi-check-lg" *ngIf="editContact"></i>
                {{ editContact ? "Save" : "Edit" }}
              </button>
            </div>
          </div>
        </div>
        <hr />

        <!-- ========== PASSWORD SECTION ========== -->
        <h6 class="fw-semibold mt-4">Password</h6>
        <div class="row align-items-center">
          <div class="col-md-10">
            <p *ngIf="!editPass" class="fw-semibold">**************</p>

            <!-- PASSWORD UPDATE FIELDS -->
            <div *ngIf="editPass">
              <input
                type="password"
                class="form-control form-control-sm my-2"
                placeholder="Current Password"
              />
              <input
                [(ngModel)]="newPassword"
                type="password"
                class="form-control form-control-sm my-2"
                placeholder="New Password"
              />
              <input
                [(ngModel)]="confirmPassword"
                type="password"
                class="form-control form-control-sm my-2"
                placeholder="Confirm New Password"
              />
            </div>
          </div>

          <div class="col-md-2 text-md-end mt-2 mt-md-0">
            <button
              (click)="togglePasswordEdit()"
              class="btn btn-outline-success btn-sm"
            >
              <i class="bi bi-pencil-square" *ngIf="!editPass"></i>
              <i class="bi bi-check-lg" *ngIf="editPass"></i>
              {{ editPass ? "Save" : "Edit" }}
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="activeItem === 'Wishlist'">
        </div>
    </section>
  </div>
</div>
